<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Payment Demo{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

{% include "Components/navbar.html.twig" %}

{% block body %}
{% endblock %}

{% include "Components/Dialogs/donate.dialog.html.twig" %}

{% block javascripts %}
    <script type="text/javascript">
        const SETTINGS = {
            BASE_URI: '{{ path('home') }}',
            PAYPAL_CLIENT_ID: '{{ paypal_client_id }}',
            STRIPE_PUBLISH_KEY: '{{ stripe_publish_key }}'
        };
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
